<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="header">
        <!-- Logo e titolo -->
        <div class="start">
            <div class="logoNome">
                <a href="/">
                    <img class="logo" src="/immagini/logoSiw.png" alt="Logo LearnLab" />
                </a>
                <a href="/" class="home-link">
                    <h1>LearnLab</h1>
                </a>
            </div>
        </div>

        <!-- Controlla se l'utente è loggato -->
        <div th:if="${session.loggedUser == null}">
            <a href="/login" class="login-button">Accedi</a>
        </div>
        <div th:if="${session.loggedUser != null}" class="dropdown">
            <button class="dropdown-button">
                Benvenuto, <span th:text="${session.loggedUser.username}">Utente</span>
            </button>
            <div class="dropdown-content">
                <a href="/settings">Impostazioni</a>
                <a href="/formNewProduct">Aggiungi Prodotto</a>
                <a href="/my-products">Vedi i tuoi Prodotti</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="mainPage">
        <h1>Chi siamo</h1>
        <p>Benvenuto nella pagina About! Qui puoi trovare informazioni sul nostro progetto.</p>
        <a href="/">Torna alla Home</a>
    </div>
</body>
</html>