<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Caricamento Immagini Prodotto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <main class="container">
        <h1>Caricamento Immagini Prodotto</h1>
        <form id="imageForm" th:action="@{/product/create/images}" method="post" enctype="multipart/form-data">
            <p class="info">Carica da 2 a 10 immagini per il prodotto.</p>
            <input type="file" id="images" name="images" accept="image/*" multiple required
                   onchange="validateImages(this)" />
            <p id="imageCount">Immagini selezionate: 0</p>
            <p id="errorMessage" class="error" th:text="${errorMessage}"></p>
            <div id="imagePreview" class="image-preview"></div>
            <button type="submit" id="forwardButton" disabled>Avanti</button>
        </form>
    </main>
    
    <!-- Include footer fragment -->
    <div th:insert="~{fragments/footer :: footer}"></div>    
    <script th:src="@{/js/image-upload.js}"></script>
</body>
</html>

