<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stile.css" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Mostra il messaggio di successo -->
    <div th:if="${success}" class="notification success">
        <p th:text="${success}"></p>
    </div>

    <form th:action="@{/login}" method="POST" th:object="${user}" class="auth-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Accedi</button>
    </form>
</body>
</html>