<!DOCTYPE html>
<html>

  <head>
    <title>Film</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
    <h1>Film</h1>

    <!-- Controllo se la lista dei film è vuota -->
    <div th:if="${movies.isEmpty()}">
      <p>Lista vuota</p>
    </div>

    <!-- Mostra la lista dei film se non è vuota -->
    <ul th:if="${!movies.isEmpty()}">
      <li th:each="movie : ${movies}">
        <a th:href="@{'/movie/' + ${movie.id}}"
           th:text="${movie.title}">titolo</a>
      </li>
    </ul>
  </body>

</html>