<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Miei Prodotti</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body>
    <div class="header">
        <h1>I Miei Prodotti</h1>
    </div>
    <main>
        <div th:if="${products.isEmpty()}">
            <p>Non hai ancora aggiunto prodotti.</p>
        </div>
        <div th:if="${!products.isEmpty()}">
            <ul>
                <li th:each="product : ${products}">
                    <h2 th:text="${product.nome}">Nome del prodotto</h2>
                    <p th:text="'Categoria: ' + ${product.categoria}">Categoria</p>
                    <p th:text="'Prezzo: €' + ${product.prezzo}">Prezzo</p>
                    <p th:text="${product.descrizione}">Descrizione</p>
                    <p th:text="${#numbers.formatDecimal(product.averageRating, 1, 1).replace(',', '.')}+ ' ★'">Rating</p>
                    <img th:src="${product.foto}" alt="Foto del prodotto" class="product-image" />
                    <a th:href="@{/product/edit/{id}(id=${product.id}, redirectUrl='/my-products')}" class="edit-button">Modifica</a>
                    <form th:action="@{/product/delete/{id}(id=${product.id})}" method="POST" onsubmit="return confirm('Sei sicuro di voler rimuovere questo prodotto?');">
                        <button type="submit" class="remove-button">Rimuovi</button>
                    </form>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>