<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risultati Ricerca</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body>
    <header>
        <h1 >Risultati della Ricerca per Categoria:</h1>
    </header>
    <nav>
        <a href="#products">Prodotti</a>
        <a href="#contact">Contatti</a>
    </nav>
    <main>
        <section id="products">
            <div class="product-list">
                <ul>
                    <th:block th:if="${products.isEmpty()}">
                        <p>Nessun prodotto trovato per la categoria selezionata.</p>
                    </th:block>
                    <th:block th:each="product : ${products}">
                        <li>
                            <h2 th:text="${product.nome}"></h2>
                            <p th:text="'Categoria: ' + ${product.categoria}"></p>
                            <p th:text="'Prezzo: €' + ${product.price}"></p>
                            <p th:text="'Rating: ' + ${product.rating} + '★'"></p>
                        </li>
                    </th:block>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Il Mio Sitarello. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>