<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body>
    <div class="auth-form-container">
        <form th:action="@{/registration}" method="POST" th:object="${user}" class="auth-form">
            <h2>Registrazione</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Inserisci la tua email" required>
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Inserisci il tuo username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Inserisci la tua password" required>
            
            <label for="confirmPassword">Conferma Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Conferma la tua password" required>
            
            <button type="submit" class="auth-submit-button">Registrati</button>
        </form>
    </div>
</body>
</html>