<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body>
    <div class="header">
        <!-- Logo e titolo -->
        <div class="start">
            <div class="logoNome">
                <a href="/">
                    <img class="logo" src="/immagini/logoSiw.png" alt="Logo LearnLab" />
                </a>
                <a href="/" class="home-link">
                    <h1>LearnLab</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="auth-form-container">
        <form th:action="@{/registration}" method="POST" th:object="${user}" class="auth-form">
            <h2>Registrazione</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Inserisci la tua email" required>
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Inserisci il tuo username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Inserisci la tua password" required>
            
            <label for="confirmPassword">Conferma Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Conferma la tua password" required>
            
            <button type="submit" class="auth-submit-button">Registrati</button>
        </form>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>Chi Siamo</h2>
                <p>Informazioni sull'azienda, la missione e i valori.</p>
            </div>
            <div class="footer-section contact">
                <h2>Contatti</h2>
                <p>Email: info@example.com</p>
                <p>Telefono: +39 123 456 789</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2025 Sitarello. All rights reserved.
        </div>
        </footer>
</body>
</html>